.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: auto;

    .box {
        margin-left: 20px;
        background-color: #17acac;
        width: 105px;
        border-radius: 5px;
        text-align: center;
        margin-top: 5px;
       
        &:hover {
            opacity: 0.8;
        }

        p {
            color: white;
        }
    }
}