.lecture-page {
    display: flex;
    justify-content: space-between;
    min-height: 800vh;
}

.lecture-page .left {
    width: 70%;
    padding: 10px;
    align-items: center;
}

.lecture-page .right {
    width: 30%;
}

.lecture-page .right .lecture-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0, 2px, 4px, rgba(0, 0, 0, 1);
    text-align: center;
    width: auto;
}

.lecture-page .right .lecture-form h2 {
    font-size: 24px;
    color: #17acac;
    margin-bottom: 15px;
}

.lecture-page .right .lecture-form form {
    text-align: left;
}

.lecture-page .right .lecture-form form label {
display: block;
margin-bottom: 5px;
font-size: 14px;
color: #333;
}

.lecture-page .right .lecture-form form input {
    width: 92%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 5px;
}

.lecture-page .right .lecture-number {
    background-color: #fff;
    padding: 10px;
    border: 1px solid black;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.lecture-page .right .active,
.lecture-page .right .lecture-number:hover {
    background-color: #17acac;
    color: white;
}

/* .lecture-page .right .active {
    background-color: #17acac;
    color: white;
} */

@media (max-width: 46.25em){
    .lecture-page {
       flex-direction: column; 
       justify-content: center;
       align-items: center;
    }

    .lecture-page .left {
        width: 90%;
    }

    .lecture-page .right {
        width: 80%;
        margin-bottom: 10px;
    }
}