.courses {
    padding: 80px 0;
    text-align: center;
    min-height: 60vh;
}

.courses .search-course {
    input {
        padding: 24px;
        width: 400px;
        text-align: left;
        padding: 12px;
        border-radius: 5px;
        border: 1px solid #17acac;
        margin-right: 8px;
    }

    button {
        padding: 10px;
        border-radius: 5px;
        border: none;

        &:hover {
            background-color: #17acac;
            color: white;
        }
    }
   
}

.courses h2 {
    font-size: 32px;
    color: #17acac;
    margin-bottom: 30px;
}

.courses .course-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}